<body>
  <div class="example-ripple-container mat-elevation-z4 contenedor col-12 fondo" matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="0" [matRippleColor]="blue">
    
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
      </ul>

    <div style="text-align:center" class="" >
      <h1 class="titulo txt-sombra-clr">{{ title }}</h1>
      <h1 class="txt-sombra-clr subtitulo">~ La mejor referencia de tu profesor ~</h1>
      <img class="circular--square img-sombra-clr" width="300" alt="Angular Logo" src="../assets/logo.jpg ">
      <h1 class="pt-4">
        <a href="" class="typewrite white-text font-weight-bold" data-period="2000" data-type='[ "Comenta", "Busca", "Apoya" ]'>
          <span class="wrap"></span>
        </a>
      </h1>
    </div>
  </div> 

  <app-menu></app-menu>
</body>