<form action="">
  <img class="circular--square img-sombra-clr imagen" width="200" alt="Univerdidad Logo" src="../assets/u.png ">
  <div class="centered">

    <div class="group">
      <input type="text" id="name" required><label for="name">¿Cuál es el nombre de su escuela/universidad?</label>
      <div class="bar"></div>
    </div>
    <div class="group">
        <input type="text" id="name" required><label for="name">¿Cuál es el nombre de su profesor?</label>
        <div class="bar"></div>
    </div>
  </div>

  <button class="submit entrada boton" onclick="">Enviar</button>
</form>