<body class="hola">
    <div class="main-content">
        <h1>Are you staying in or going out?</h1>
        <div class="illustration">
            <div class="boy"> <img src="../../../assets/logo.png" width="300px" /></div>
            <div class="person-type-wrapper">
                <div class="person-type active home-body">
                    <div class="scenery"><img src="http://olivia-ng.com/codepen/indoor.svg" height="250" /></div>
                    <div class="background-items"><img src="http://olivia-ng.com/codepen/furniture.svg" width="270" /></div>
                    <div class="foreground-items"><img src="http://olivia-ng.com/codepen/playstation.svg" width="65" /></div>
                </div>
                <div class="person-type outdoor-person">
                    <div class="scenery"><img src="http://olivia-ng.com/codepen/outdoor.svg" height="250" /></div>
                    <div class="background-items"><img src="http://olivia-ng.com/codepen/sky.svg" width="220" /></div>
                    <div class="foreground-items"><img src="http://olivia-ng.com/codepen/dogtree.svg" width="200" /></div>
                </div>
            </div>
        </div>
        <div class="option-wrapper">
            <div class="option active" data-option="home">I'm attached to my home.</div>
            <div class="option" data-option="outdoor">Hell yeah, I love the outdoors!</div>
        </div>
    </div>
    <aside class="context">
        <div class="explanation"> Part I of CSS Animations Experiment. <a href="https://codepen.io/oliviale/details/ELPvLM" target="_blank">Part II here.</a></div>
    </aside>
    <footer>
        <a href="https://twitter.com/meowlivia_" target="_blank"><i class="icon-twitter icons"></i></a>
        <a href="https://github.com/oliviale" target="_blank"><i class="fa fa-github" aria-hidden="true"></i><i class="fab fa-500px"></i><i class="fab fa-github-alt"></i></a>
        <a href="https://dribbble.com/oliviale" target="_blank"><i class="icon-social-dribbble icons"></i></a>
    </footer>
</body>