<body>
  <mat-toolbar class="wrapper">
      <img class="circular--square img-sombra-clr" width="50" alt="Uniference Logo" src="../assets/logo.jpg ">
      <span class="txt-sombra-clr estilo-x-menu">&nbsp;UNIFERENCE</span>
      <div class="container">
        <input type="text" placeholder="Buscar...">
        <div class="search"></div>
      </div>
  </mat-toolbar>

  <!-- <div *ngFor='let user of users'>
    <img [src]="user.picture.medium">
    <h2>{{ user.name.first | uppercase }}</h2>
    <p>{{ user.email }}</p>
</div> -->

<router-outlet></router-outlet>
</body>
  